* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.decoder {
    background-color: aqua;
    width: 500px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.chave {
    text-align: center;
    width: 200px;
    height: 30px;
    background-color: cadetblue;
}
.resposta {
    background-color: royalblue;
    width: 80%;
    height: 100px;
}
.enviar {
    width: 100px;
    height: 40px;
}