* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("./imagens/criptografia.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
fieldset {
  border: none;
}
textarea {
  resize: none;
  border-radius: 15px;
  padding: 10px;
}
legend {
  text-align: center;
}

.metodo {
  font-size: 16px;
  margin-top: 6px;
}
.decoder {
  background-color: rgba(128, 128, 128, 0.9);
  width: 500px;
  height: 550px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.passo {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  width: 50%;
}
.tipo {
  display: flex;
  flex-direction: column;
}
.resposta {
  width: 80%;
  height: 100px;
  color: white;
}
.enviar {
  width: 124px;
  height: 56px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
}

.metodo,
.tipo,
.resposta,
.passo {
  background-color: rgba(0, 0, 255, 0.7);
  padding: 10px 15px;
  border-radius: 15px;
}
h2,
label,
legend,
.metodo,
output {
  color: white;
}
