* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./imagens/criptografia.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Press Start 2P", cursive;
  font-size: small;
}
fieldset {
  border: none;
}
textarea {
  resize: none;
  border-radius: 15px;
  padding: 10px;
}
legend {
  text-align: center;
}

.metodo {
  font-size: 16px;
  margin-top: 6px;
}
.decoder {
  background-color: rgba(128, 128, 128, 0.9);
  width: 500px;
  height: 450px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}
.passo {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
  width: 50%;
}
.tipo {
  display: flex;
  flex-direction: column;
}
.saida {
  width: 80%;
  height: 100px;
  color: white;
  word-wrap: break-word;
  overflow-y: scroll;
}
.enviar {
  width: 124px;
  height: 56px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}

.metodo,
.tipo,
.saida,
.passo {
  background-color: rgba(0, 0, 255, 0.7);
  padding: 10px 15px;
  border-radius: 15px;
}
h2,
label,
legend,
.metodo,
output {
  color: white;
}
.enviar {
  font-family: "Press Start 2P", cursive;
  font-size: smaller;
}
output {
  padding-top: 10px;
}
footer {
  background-color: rgba(128, 128, 128, 0.9);
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}
